<div class="flex gap-2">
  <div class="badge badge-ghost gap-1">
    <span>{{ uniqueUsersCount }}</span>
    <span>users</span>
  </div>
  <div class="badge badge-ghost gap-1">
    <span>{{ ordersCount }}</span>
    <span>orders</span>
  </div>
  <div class="badge badge-ghost gap-1">
    <span>{{ itemLinesCount }}</span>
    <span>items</span>
  </div>
  <div class="badge badge-ghost gap-1">
    <span [attr.data-testid]="totalItemQuantityTestId">{{ totalItemsQuantity }}</span>
    <span>qty</span>
  </div>
</div>
